<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">About</h4>
                        <p class="card-category">Little about my Tech Stack...</p>
                    </div>
                    <div class="card-body">
                        <div class="col-md-12">
                            <div class="card card-profile">
                                <div class="card-avatar">
                                    <a href="https://learnangular.co.in/">
                                        <img class="img" src="./assets/img/faces/sudeep.png" />
                                    </a>
                                </div>
                                <div class="card-body">
                                    <h6 class="card-category text-gray">Sudeep Shanubhog</h6>
                                    <h4 class="card-title">Technical Lead/Senior Front End Developer</h4>
                                    <p class="card-description">
                                        Currently working as Techincal Lead for New York State Information Technology Services, NY. With passion to learn(always)/teach/share my knowledge and 
                                        experience.
                                        
                                    </p>
                                    <hr>
                                    <p class="card-description">
                                        My Experience,
                                        <br>
                                        • 14+ Years of IT Professional experience in Analysis, Design, Estimation, Development, Testing, Enhancements, and Support (Full Stack Developer) of the business applications. 
                                        • Experience in developing/architect WEB applications using Angular 10/8/5, React, Angular-JS 1.6, C#.NET, ASP.NET, Chat-bot, Machine Learning, LEAFLET JS, NODE JS, JQuery, WEB API, MVC 5/4/3, REST API, HTML5, CSS3, Bootstrap 4,  XML, JavaScript, WCF, Google MAPs API, ORM Framework like Entity and Web Services.
                                    </p>
                                    <a href="https://www.linkedin.com/in/sudeep-shanubhog/" class="btn btn-danger btn-round">Follow 
                                        <img src="./assets/img/linkedin_icon.png" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
